* {
  font-family: "Montserrat";
}

h1 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 0 0 16px 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.btn {
  background-color: orange;
  color: white;
  padding: 8px 24px;
}

.btn-alt {
  background-color: white;
  color: black;
  margin-right: 16px;
  border: 2px solid;
  border-color: orange;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 128px;
}

#header h1 {
  margin: 0;
}

#landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}

#landing p {
  margin-bottom: 32px;
}

#landing > div {
  width: 50%;
}

/* #landing h1 {
    margin: 0px;
    margin-bottom: 16px;
} */

p {
  color: grey;
  margin: 0 0 16px 0;
  font-size: 24px;
}

section {
  padding: 64px 128px;
}

nav > a {
  margin-left: 12px;
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}

#about > div {
  width: 50%;
}

#about-strip {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 72px;
}

.about-strip-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-strip-item div {
  width: 50px;
  height: 10px;
  background-color: orange;
  margin-bottom: 16px;
}

.service-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 128px;
  margin-top: 72px;
}

.service-detail-item {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.service-detail-item img {
  width: 100%;
}

.service-detail-item h2 {
  padding: 0 16px;
}

.service-detail-item p {
  font-size: 16px;
  padding: 0 16px;
}

.contact-detail {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  margin-top: 32px;
  grid-template-areas: "name subject" "email phone" "message message";
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

#input-name {
  grid-area: name;
}

#input-subject {
  grid-area: subject;
}

#input-email {
  grid-area: email;
}

#input-message {
  grid-area: message;
}
#input-message {
  grid-area: message;
}

.input-group label {
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 20px;
}

.input-group input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 20px;
}
